.cont-photo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.cont-video{
    margin-top: 8vw;
    position: absolute;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    z-index: -10;
}

.container-photo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video{
    height: 100%;
    max-height: 120vh;
}

.mask-photo{
    border-radius: 10px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin: 6vh 0 ;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 0 5vh;
}

.container-photo > h3{
    font-weight: 600;
}

.photo{
    border-radius: 50%;
    border: 5px solid white;
    margin: 2vh 0;
    max-height: 100%;
}

.cont-text{
    margin: 0 8vh 0 0;
    border-radius: 10px;
    padding: 3vh;
    background-color: rgb(255, 255, 255, 0.6);
    height: 100%;
    width:50%;
    font-weight: 300;
    align-items: center;
}

.cont-text > h1{
    font-size: 3vw;
}

.cont-text > p{
    font-size: 1.5vw;
}

.mask-photo > h3{
    font-size: 2.5vw;
}

.mask-photo > h4{
    font-size: 2.5vw;
}


@media screen and (max-width:480px) {
    .cont-photo{
        flex-direction: column;
    }
    .mask-photo{
        height: 35vh;
        width: 30vh;
    }
    .cont-text{
        width: 70%;
        margin: 0;
    }

    .cont-text > h1{
        font-size: 6vw;
    }
    
    .cont-text > p{
        font-size: 3vw;
    }

    .mask-photo > h3{
        font-size: 6vw;
    }

    .mask-photo > h4{
        font-size: 5vw;
    }

    .cont-video{
        margin-top: 2vh;
    }
    
    .video{
        max-height: 70vh;
    }
}