.cont-photo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background-color: black;
    padding: 5rem 0;
    justify-content: center;
    overflow-y: hidden;
}

.cont-video{
    margin-top: 8vw;
    position: absolute;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    z-index: -10;
}

.container-photo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video{
    height: 100%;
    max-height: 120vh;
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(235,205,148,0.9977240896358543) 53%, rgba(255,196,0,1) 100%);
}

.mask-photo{
    border-radius: 10px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin: 6vh 0 ;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 0 5vh;
}

.container-photo > h3{
    font-weight: 600;
}



.container-text{
    width: 50%;
}

.cont-text{
    margin: 0 8vh 0 0;
    border-radius: 10px;
    padding: 3vh;
    height: 100%;
    width:80%;
    font-weight: 300;
    align-items: center;
    color:white;
}

.cont-text > h1{
    font-family: 'Kumbh', sans-serif;
    font-size: 5rem;
}

.cont-text > p{
    font-size: 1rem;
    font-weight: 400;
}


.cont-button-about{
    width: 80%;
    margin-top: 3vh;
}


.cont-certific{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: -12rem;
    padding: 2rem 7rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e8e8e8;
}


.info-foot2{
    width: 80%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    color:white;
}

.info-foot2 > h2,.info-foot2 > p{
    margin-bottom: 0;
    margin-right: 4rem;
}

@media screen and (max-width:1200px) {

    .cont-certific{
        bottom: -17rem
    }
}

@media screen and (max-width:1000px) {

    .certif{
        width: 10rem;
    }

    .certif > img{
        height: 6rem;
        width: auto;
    }
    .cont-text > h1{
        font-size: 4rem;
    }

    .cont-text > p{
        font-size: 1rem;
    }
}

@media screen and (max-width:800px) {
    .cont-photo{
        flex-direction: column;
    }
    .container-text{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .cont-text{
        width: 80%;
        margin: 0;
    }
    
    .cont-text > p{
        font-size:.8rem;
    }

    .button-download{
        font-size: 2.5vh;
    }
}