main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.card {
    width: 35rem;
    height: 20rem;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: black;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    background-color: rgb(209, 161, 3);
}
.card > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .2s ease-out;
}

.card-content{
    background-color: burlywood;
}
  
.card-content > h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
}
    
.card-content > p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    color:black;
    inset: auto auto 80px 30px;
}
    
    
.card:hover > .card-content > p {
    inset: auto auto 80px 30px;
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.card:hover > .card-content > h2 {
    color: black;
    transition: opacity .5s .1s ease-in;
}
    
.card:hover > img {
    transition: opacity .3s ease-in;
    opacity: 0;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.fa-arrow{
    margin-left: 10px;
}

.link-card{
    text-decoration: none;
    inset: auto auto 270px 30px;
    position: absolute;
    color: black
}

.link-card:hover{
    color: #747474
}

@media screen and (max-width: 800px) {
    .card{
        width: 60vw;
        height: 40vw;
    }

    .card-content > h2 {
        font-size: 1rem;
        inset: auto auto 10px 30px;
    }

    .card-content > p{
        font-size: 0.6rem;
        inset: auto auto 10px 10px;
    }

    .card:hover > .card-content > p {
        inset: auto auto 20px 30px;
        opacity: 1;
        transition: opacity .5s .1s ease-in;
        line-height: 15px;
    }
    .link-card{
        font-size: 0.6rem;
        text-decoration: none;
        inset: auto auto 140px 30px;
        position: absolute;
        color: black
    }
}
  
  