.cont-all{
    height: 100vh;
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(235,205,148,0.9977240896358543) 53%, rgba(255,196,0,1) 100%);
    width: 100%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.cont-contact{
    background-color: #ffffff;
    height: fit-content;
    padding: 4vh 0;
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-left-contact{
    width: 40%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cont-title-contact{
    display: flex;
    justify-content: center;
}

.cont-contact-info{

    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4vh;
    flex-direction: row;
}

.cont-contact-info > a{
    color:#747474;
}

.cont-contact-info > a:hover{
    color:rgb(209, 161, 3);
}



.icon-brand{
    font-size: 7vh;
    margin-right: 5vh;
}



.cont-form{
    width: 40%;
    display: flex;
    justify-content: center;
}

form{
    width: 70%;
    padding-top: 2vh;
}

input{
    outline: none;
    border: none;
	border-bottom: 2px solid #747474;
    min-width: 100%;
}

input:focus{
    border-bottom: 2px solid black ;
}

textarea{
    outline: none;
    border:2px solid #747474;
    border-radius: 10px;
    padding: 1vh;

}

.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2vh;
}

label{
    font-size: 20px;
}

.cont-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}

.to-top{
	color:#747474;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:black;
	text-decoration:none;
	transition:all .3s ease-out;
    width: 5vw;
    height: 5vw;
    border:none;
    background-color: transparent;
}
.to-top:before{
	content:'→';
	font-size:3.5vw;
    font-weight: 600;
	position:absolute;
	top:0;
	margin-left:-.7em;
	border:solid 3px #747474;
	border-radius:10em;
	width:5vw;
	height:5vw;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(209, 161, 3);
	border-color:rgb(209, 161, 3);
}
.to-top:hover:before{
    scale: 1.1;
	transform: rotate(360deg);
}
.alert{
    position: absolute !important;
    bottom: 2rem
}

@media screen and (max-width:800px) {
    .cont-contact{
        flex-direction: column-reverse;
    }

    .cont-left-contact{
        border-right: none;
    }

    .cont-title-contact{
        display: none;
    }
    
    .cont-form{
        width: 100%;
    }
    .cont-contact-info{
        height: 20vh;
    }

    label{
        font-size: medium;
    }

    .to-top{
        width: 11vw;
        height: 11vw;
    }
    .to-top:before{
        width: 11vw;
        height: 11vw;
        font-size: 6vw;
    }
    .icon-brand{
        font-size: 3vh;
        margin: 0 1vh;
    }
}