.container-nav{
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 600;
    font-size: 4vh;
    justify-content: center;
    padding-top: 3vh;
    height: 13vh;
    background-color: white;
    position:sticky;
    z-index: 10;
    top: 0;
}

.container-list{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.dropbtn {
    background-color: #747474;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10vh;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    font-size: 20px;
}
  
.dropdown-content a:hover {background-color: #747474; color:white}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

ul{
    width: auto;
    padding-left: 0 !important;
    padding-bottom: 2vh;
    display: inline-block;
    position: relative;
    color: black;
}

ul:hover{
    cursor: pointer;
}

ul::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
ul:hover::after,
ul:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width:480px) {
    .container-nav{
        font-size: 5vw;
        height: 10vh;
    }
}