.cont-technologies{
    background-color: black;
    width: 100%;
    color: white;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-projects{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.cont-title-projects{
    width: 50%;
}

.cont-title-projects>h2{
    font-size: 60px;
}


.card-cont{
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    flex-wrap: wrap;
}


.flex-tech{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:1000px) {

    .cont-title-projects>h2{
        font-size: 45px;
    }
    
}

@media screen and (max-width:800px) {
    .cont-tech{
        flex-direction: column;
    }

    .cont-title-projects>h2{
        font-size: 30px;
    }

    .card-cont{
        max-width: 90%;
    }
    
}